body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: black;
  font-family: monospace;
  font-size: 1.6rem;
  color: $primary;
}

html{
  cursor: crosshair;
  overflow: hidden;
  font-family: monospace;
  // 1 rem = 10px;
  font-size: 62.5%;
}

pre{
  font-family: monospace;
}

a{
  display: block;
  color: inherit;
  text-decoration: none;
  &:hover{
    cursor: crosshair;
  }
}

// game container
#container {
  position: relative;
  margin: 20px auto;
  height: 450px;
  max-width: 800px;
  border: 1.5px dashed;
  overflow: hidden;
    // responsive
    @media (max-width: 500px){
    margin: 0 auto;
    height: 80vh;
  }

  #earth, #aurora{
    z-index: 0;
    position: absolute;
    top: 10%;
    left: 17%;
    display: inline-block;
    // pre elements will not wrap
    white-space: pre;
    opacity: 0.5;
    left: calc(100% / 2 - (550px / 2));
    // responsive
    @media (max-width: 500px){
      top: 5%;
    }
  }
  
  #aurora{
    display: none;
    z-index: 0;
    top: 0%;
    left: 0;
    font-size: 2.4rem;
    }
    
  #starry-sky{
    opacity: 0.5;
    position: absolute;
    bottom: 80px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    #sky {
    display: inline-block;
    animation: marquee 28s linear infinite;
    }

    #sky2 {
    display: inline-block;
    animation: marquee2 28s linear infinite;
    animation-delay: 14s;
    }
  }

  #starry-sky2{
    position: absolute;
    bottom: 30px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    #sky3 {
    display: inline-block;
    animation: marquee 24s linear infinite;
    }

    #sky4 {
    display: inline-block;
    animation: marquee2 24s linear infinite;
    animation-delay: 12s;
    }
  }

  #ground{
    position: absolute;
    bottom: 30px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    #tile {
    display: inline-block;
    animation: marquee 20s linear infinite;
    }

    #tile2 {
    display: inline-block;
    animation: marquee2 20s linear infinite;
    animation-delay: 10s;
    }
  }

  #ground2{
    position: absolute;
    bottom: 10px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    #tile3 {
    display: inline-block;
    animation: marquee 16s linear infinite;
    }

    #tile4 {
    display: inline-block;
    animation: marquee2 16s linear infinite;
    animation-delay: 8s;
    }
    #easter-egg{
      display: inline;
    }
  }

  @keyframes marquee {
    from {transform: translateX(100%);}
    to {transform: translateX(-100%);}
  }

  @keyframes marquee2 {
    from {transform: translateX(0%);}
    to {transform: translateX(-200%);}
  }
}

// controllable player, takes keyboard input up and down
#player {
    position: absolute;
    // fixed height for better hitbox collision
    height: 55px;
    top: 40%;
    left: 5%;
    transition: text-shadow 0.2s;
    margin: 0;
    padding: 0;
}

// thing that player needs to avoid
#obstacle {
    bottom: 40px;
    position: absolute;
    height: 30px;
    margin: 0;
    padding: 0;
    z-index: 10;
    line-height: 0;
    // initial spawn position of the obstacle is off-screen on the right side
    right: -300%;
    font-size: 2rem;
    text-shadow: 0px 0px 10px currentColor;
    // text-shadow: 
    // 10px -0px 0px currentColor,
    // 20px -0px 0px currentColor,
    // 30px -0px 0px currentColor;
}

// hitbox
.hitbox{
  border: 0.5px solid red;
}

.white{
  color: white;
}

// shadow effect when player moves up
.shadow-down{
  text-shadow:
   -0px 10px 0px currentColor,
   -0px 20px 0px currentColor,
   -0px 30px 0px currentColor;
   opacity: 0.5;
}

// shadow effect when player moves down
.shadow-up{
  text-shadow: 
  -0px -10px 0px currentColor,
  -0px -20px 0px currentColor,
  -0px -30px 0px currentColor;
  opacity: 0.5;
}

// the score and buttons
#info {
    position: absolute;
    left: 1vw;
    top: 1.5vh;
    margin: 0;
    text-align: left;
    p{
      margin: 0;
    }
}

#controls {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  #button-up, #button-down{
    color: inherit;
    border: none;
    border-right: 1.5px dashed currentColor;
    border-bottom: 1.5px dashed currentColor;
    border-left: 1.5px dashed currentColor;
    background-color: black;
    font-size: 30px;
    width: 50%;
    height: 20vh;
    display: none;
    // responsive
    @media (max-width: 500px){
      display: block;
    }
  }
}

.cursor:after {
    content:">_";
    opacity: 0;
    animation: cursor 0.5s infinite;
}
@keyframes cursor {
    from {opacity: 1;}
    to {opacity: 0;}
}

.restart{
  display: none;
  position: absolute;
  width: 100%; 
  height: 100%;
  text-align: center;
  font-size: 1.6rem;
  background-color: black;
  color: currentColor;
  z-index: 100;
  border: none;
  p{
    text-align: center;
  }
}
